@import '../../../../styles/themes.scss';

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  background-color: $primary;
  color: $contrast-primary;
  div a {
    text-decoration: none;
    color: white;
  }
}
